<ul class="list-group list-group-horizontal">
    <li class="list-group-item">{{"ID: "+$ctrl.product.ID}}</li>
    <li class="list-group-item">{{"Name: "+$ctrl.product.Name}}</li>
    <li class="list-group-item">{{"Detail: "+$ctrl.product.Detail}}</li>
    <li class="list-group-item">{{"Number in stock: "+$ctrl.product.NumberStock}}</li>
</ul>


<form name="$ctrl.updateProductForm" ng-submit="$ctrl.submit_update($ctrl.updateProductForm)">
        <div class="form-group col-md-2 m-4 p-4 border border-primary" style="border-radius: 10%">
            <label for="Name">Product Name:</label>
            <input type="text" class="form-control" name="Name" ng-model="$ctrl.name" ng-minlength="3" ng-maxlength="12" ng-required="true"></input>
            <div ng-messages="$ctrl.updateProductForm.Name.$error">
                    <span ng-message="required">Hata! yazı gir</span>
                    <span ng-message="minlength">Hata! az karakter</span>
                    <span ng-message="maxlength">Hata! fazla karakter</span>
            </div>
            
                        
            <label for="Detail" class="mt-1">Detail:</label>
            <input type="text"  class="form-control mt-1" name="Detail" ng-model="$ctrl.detail" ng-minlength="10" ng-maxlength="40" ng-required="true"></input>
            <div ng-messages="$ctrl.updateProductForm.Detail.$error">
                    <span ng-message="required">Hata! yazı gir</span>
                    <span ng-message="minlength">Hata! az karakter</span>
                    <span ng-message="maxlength">Hata! fazla karakter</span>
                </div>


            <label for="Number" class="mt-1">Number of products:</label>
            <input type="text"  class="form-control mt-1" ng-pattern="$ctrl.regex" name="Number" ng-model="$ctrl.number" ng-required="true"></input>
            
            <div ng-messages="$ctrl.updateProductForm.Number.$error">
                    <span ng-message="required">Hata! int gir</span>
                    <span ng-message="pattern">Sayı giriniz!</span>
                    <span ng-message="maxlength">Hata! fazla basamak</span>
            </div>


            <button type="submit" class="btn btn-secondary mt-3" ng-disabled="$ctrl.updateProductForm.$invalid">Update product</button>
            <div id="response">{{$ctrl.response}}</div>
        </div>
</form>

